PORT=5001
MONGO_URI=your_mongodb_connection_string
JWT_SECRET=secret_key

# Cloudinary Setup for local development
CLOUDINARY_CLOUD_NAME= cloud_name
CLOUDINARY_API_KEY= api_key
CLOUDINARY_API_SECRET= api_secret
